@model CapgeminiVoting.Models.QuestionInfoModel

@{
    ViewBag.Title = "Vote";
}

@using (Html.BeginForm("VoteSubmit", "Mobile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2>@Model.QuestionData.Question</h2>

        @if (Model.QuestionData.Answers.Count() == 0 && !Model.QuestionData.QuestionType.Equals(2))
        {
            <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-warning-sign"></span>@Resources.No_answers_found_for_question</div>
        }
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> @ViewBag.Message</div>
        }

        <input type="hidden" name="EventCode" value="@Model.EventCode">
        <input type="hidden" name="QuestionNumber" value="@Model.QuestionData.QuestionNumber">
        
        <div>
                @if (Model.QuestionData.QuestionType.Equals(0))
                {
                    foreach (CapgeminiVoting.Models.AnswerModel a in Model.QuestionData.Answers)
                    {
                        <h3>
                            <label class="radio">
                                <input type="radio" name="AnswerId" value="@a.Id" checked> @a.Answer
                            </label>
                        </h3>
                    }
                }
                else if (Model.QuestionData.QuestionType.Equals(1))
                {
                    foreach (CapgeminiVoting.Models.AnswerModel a in Model.QuestionData.Answers)
                    {
                        <h3>
                            <label class="checkbox">
                                <input type="checkbox" name="AnswerId" value="@a.Id"> @a.Answer
                            </label>
                        </h3>
                    }
                }
                else if (Model.QuestionData.QuestionType.Equals(2))
                {
                    @Html.TextBox("FreeTextAnswer", String.Empty)
                }
        </div>
        <h1>
            <input type="submit" name="submit" value="Next question &raquo;" class="btn btn-primary btn-lg" />
        </h1>
    </div>
}


