@model CapgeminiVoting.Models.QuestionModel

@{
    ViewBag.Title = "Vote";
}

@using (Html.BeginForm("Vote", "Mobile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2>@Model.question</h2>

        @if (Model.answers.Count() == 0)
        {
            <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-warning-sign"></span>No answers were found for this question.</div>
        }

        @foreach (CapgeminiVoting.Models.AnswerModel a in Model.answers)
        {
            if (Model.questionType.Equals(0))
            {
                <input type="hidden" name="QuestionIndex" value="@(Model.questionNumber + 1)">
                <p><input type="submit" name="answer" value="@a.answer" class="btn btn-primary btn-lg" /></p>
            }
        }
    </div>
}


