@model CapgeminiVoting.Models.QuestionInfoModel

@{
    ViewBag.Title = "Vote";
}

@using (Html.BeginForm("VoteSubmit", "Mobile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2>@Model.QuestionData.question</h2>

        @if (Model.QuestionData.answers.Count() == 0)
        {
            <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-warning-sign"></span>No answers were found for this question.</div>
        }

        @foreach (CapgeminiVoting.Models.AnswerModel a in Model.QuestionData.answers)
        {
            if (Model.QuestionData.questionType.Equals(0))
            {
                <input type="hidden" name="EventCode" value="@Model.EventCode">
                <input type="hidden" name="QuestionNumber" value="@Model.QuestionData.questionNumber">
                <p><input type="submit" name="Answer" value="@a.answer" class="btn btn-primary btn-lg" /></p>
            }
        }
    </div>
}


