<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Capgemini Voting</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", false)

</head>
<body>
    <div class="navbar header navbar-fixed-top">
        <div class="container ">
            <div class="navbar-header">                
                <div class="header-top">
                    <img src="~/Images/capgemini_logo.png" alt="capgemini logo" id="capgemini-logo" />
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Capgemini Voting", "Index", "Mobile", new { area = "" }, new { @class = "navbar-brand header" })
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("My Events", "Index", "Admin", null, new { @class = "navbar-brand header" });
                    }
                </div>
                
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Capgemini</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
