@{
    ViewBag.Title = Resources.Your_events;
}

@model IEnumerable<CapgeminiVoting.Models.EventOverviewModel>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{ 
    <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok-circle"></span> @ViewBag.SuccessMessage</div>
}

<div id="eventList" class="large-9 columns">
    <div class="page-header">
        <h3>@Resources.Event_list_title</h3>
    </div>
    <input type="button" value="@Resources.Create_new_event" onclick="location.href='@Url.Action("CreateEvent")'" class="btn btn-primary" />
    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th colspan="5"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var emailString = string.Format(Resources.shareEventMail, item.Name, item.Description, item.Id);
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>  <!--.ToString("dd-MM-yy")-->
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>
                            <img alt="" class="pointer" height="20" width="20" src="@Url.Content("~/Images/edit.png")" onclick="location.href='@Url.Action("ModifyEvent", new { item.Id })'" />
                        </td>
                        <td>
                            <img alt="" class="pointer" height="20" width="20" src="@Url.Content("~/Images/results.png")" onclick="location.href='@Url.Action("EventResult", new { item.Id })'" />
                        </td>
                        <td>
                            <img alt="" class="pointer" height="20" width="20" src="@Url.Content("~/Images/close.png")" onclick="location.href = '@Url.Action("DeleteEvent", new { item.Id })'" />
                        </td>
                        <td>
                            <img alt="" class="pointer" height="20" width="20" src="@Url.Content("~/Images/share.png")" onclick="window.location.href = '@emailString';" />
                        </td>
                        <td>
                            @if (item.Locked)
                            {
                                var id = "lockImage" + item.Id;
                                <img id="@id" alt="" class="pointer" height="20" width="20" src="@Url.Content("~/Images/locked.png")" onclick="lockOrUnlockEvent(@item.Id, false)" />
                            }
                            else
                            {
                                var id = "lockImage" + item.Id;
                                <img id="@id" alt="" class="pointer" height="20" width="20" src="@Url.Content("~/Images/unlocked.png")" onclick="lockOrUnlockEvent(@item.Id, true)" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@section scripts {
    <script type="text/javascript">
        var viewBag = { lockLink : '@Url.Action("LockOrUnlockEvent", "Admin")' };
    </script>
    <script type="text/javascript" src="~/Scripts/eventList.js"></script>
}