@{
    ViewBag.Title = "Your events";
}

@model IEnumerable<CapgeminiVoting.Models.EventOverviewModel>

<div id="eventList" class="large-9 columns">
    <div class="page-header">
        <h3>@Resources.Event_list_title</h3>
    </div>
    <input type="button" value="@Resources.Create_new_event" onclick="location.href='@Url.Action("CreateEvent")'" class="btn btn-primary" />
    <br /><br />
    
    @if (Model.Count() > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th colspan="4"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>  <!--.ToString("dd-MM-yy")-->
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>
                            <input type="button" value="@Resources.Modify" onclick="location.href='@Url.Action("ModifyEvent", new { item.Id })'" class="btn btn-primary btn-xs" />
                        </td>
                        <td>
                            <input type="button" value="@Resources.Results" onclick="location.href='@Url.Action("EventResult", new { item.Id })'" class="btn btn-primary btn-xs" />
                        </td>
                        <td>
                            <input type="button" value="@Resources.Delete" onclick="location.href = '@Url.Action("DeleteEvent", new { item.Id })'" class="btn btn-primary btn-xs" />
                        </td>
                        <td>
                            <!--<input type="button" value="@Resources.Share" onclick=Mailto("tstse","qsfqsfd") class="btn btn-primary btn-xs" />-->
                            <input type="button" value="@Resources.Share" onclick="window.location.href = 'mailto:&subject=Capgemini Voting App: Code to vote&body=Dear Participant,%0D%0A %0D%0AUse the code below to go to the question-list in the Capgemini Voting app:%0D%0A '+(@item.Id)+' %0D%0A%0D%0AKind regards';" class="btn btn-primary btn-xs" />
                            <!--<a href="mailto:&subject=Capgemini Voting App: Code to vote&body=this is a test {" + item.id + "} dsfsqdfs">sqdfsdqfdsqfsq</a>-->
                            <!--<a href="mailto:&subject=Capgemini Voting App: Code to vote&body=this is a test "<%=item.id%>"dsfsqdfs">aaaaaaa</a>-->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>